<!DOCTYPE html>

<html lang="<wolfram:slot id='Language'/>">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <wolfram:get path="include/site-title.html"></wolfram:get>
    <wolfram:get path="include/site-stylesheets.html"></wolfram:get>
    <wolfram:get path="include/site-icons.html"></wolfram:get>
    <wolfram:get path="include/analytics.html"></wolfram:get>

    <wolfram:slot id="head"></wolfram:slot>

    <wolfram:slot id="meta"></wolfram:slot>
    <wolfram:slot id="stylesheets"></wolfram:slot>
    <wolfram:slot id="scripts"></wolfram:slot>

  </head>

<body onload="<wolfram:slot id='OnLoad' />">

  <header class="header">

    <div class="top-bar">

      <div class="site-title">
      <wolfram:get path="include/titlebar.html"></wolfram:get>
      <wolfram:get path="include/navbar.html"></wolfram:get>
      </div>

    </div>
  </header>

<*
  $$["Sidebar"]=
      MemberQ[#Templates, "index.html"] ||
        (!MissingQ@#IndexListing);
  $$["SidebarClass"]=If[$$["Sidebar"], "sidebar col-sm-3", ""];
  $$["ContentClass"]=If[$$["Sidebar"], "col-sm-9", "col-sm-12"];
*>

  <div class="container main" id="main-content">
    <div class="row">
      <div class=<*$$["ContentClass"]*> >
        <div class="main-content">
          <div class="container center-aligned">
            <wolfram:get path="include/page-header.html"></wolfram:get>
            <br>
            <wolfram:get path="include/primary-content.html"></wolfram:get>
          </div>
        </div>
      </div>
      <wolfram:if test='TrueQ@$$["Sidebar"] || MemberQ[#Templates, "index.html"] || (!MissingQ@#IndexListing)'>
        <div class='<* $$["SidebarClass"] *>' id="sidebar">
          <wolfram:get path="include/sidebar.html"></wolfram:get>
        </div>
      </wolfram:if>
    </div>
    <wolfram:get path="include/pagination.html"/>

  </div>

<footer class="footer">
  <p class="text-sm-right text-muted acknowledgement">
    <wolfram:get path="include/page-footer.html">
      <wolfram:slot id="DefaultFooter">
        Brought to you by the
          <a href="https://mathematica.stackexchange.com/">Mathematica StackExchange</a>
      </wolfram:slot>
    </wolfram:get>
  </p>
</footer>

</body>

</html>
