<!-- Navbar -->
<wolfram:get path="include/lib/templates/varTrueBlock.html">
  <wolfram:slot id="var">EnableSearch</wolfram:slot>
  <wolfram:slot id="if">
    <div class="site-links-search-row">
      <div class="site-links">
        <wolfram:expr>
          $$templateLib["makeSiteLinkList"][
            Replace[#PageLinks,{
              Except[_List]:>
                Replace[
                  Import[FileNameJoin@{"include","config","page_links.m"}],
                  f_Function:>f[#]
                  ]
              }],
            #
            ]
        </wolfram:expr>
      </div>
      <wolfram:get path="include/search.html"></wolfram:get>
    </div>
  </wolfram:slot>
  <wolfram:slot id="else">
    <div class="site-links">
      <wolfram:expr>
        $$templateLib["makeSiteLinkList"][
          Replace[#PageLinks,{
            Except[_List]:>
              Replace[
                Import[FileNameJoin@{"include","config","page_links.m"}],
                f_Function:>f[#]
                ]
            }],
          #
          ]
      </wolfram:expr>
    </div>
  </wolfram:slot>
</wolfram:get>
<!-- Navbar -->
